{% extends "base.html" %}
{% block content %}
{% if shifts|length == 0 %}
<p>Nenhum ponto para esse usuário.</p>
{% endif %}
{% for shift in shifts %}


<form action="{% url 'close_shift_id' shift.id %}"
    method="post">
    {% csrf_token %}
    <p>{{shift.begin|date:"d/m/Y m:s"}} |
        {{shift.owner.profile.name}} |
        {% if shift.is_open %} Aberto {% else %} Fechado {% endif %} |
        {{shift.workplace.name}} |
        <button type="submit">Fechar ponto</button>
    </p>

</form>


{% endfor %}
{% endblock content %}